<div class="ng2-ss" [ngStyle]="{'width': width || '350px'}">
  <div name="ng2-ss-disp" id="ng2-ss-disp" class="ng2-ss__main-input" 
  (click)="openOptions()" [ngClass]="{'ng2-ss__main-input__active': openSSOptions}">
    <span>{{ssDisplayValue?.label || 'Choose an option'}}</span>
  </div>
  <div class="ng2-ss__main-input__arrow" (click)="openOptions()">
    <span *ngIf="!openSSOptions">&#9660;</span>
    <span *ngIf="openSSOptions">&#9650;</span>
  </div>
  <div *ngIf="openSSOptions" class="ng2-ss__options">
    <div class="ng2-ss__options__header">
        Select an option
        <span (click)="closeSerSel()">&#10006;</span>
    </div>
    <div class="ng2-ss__options__search">
        <input type="text" name="ng2-ss-search" id="ng2-ss-search" #optionSearch
        class="ng2-ss__options__search__input" [(ngModel)]="ssSearchKey" />
        <div *ngIf="data.length > 1" class="ng2-ss__options__search__tabs__holder">
          <div *ngFor="let item of data; let idx = index;" (click)="showTab(idx)" class="ng2-ss__options__search__tabs" [ngClass]="{'ng2-ss__options__search__tabs__active': currTabIndex === idx}">
            <span title="{{item.title}}">{{item.title}}</span>
          </div>
        </div>
    </div>
    <div class="ng2-ss__options__holder">
      <div *ngIf="!data || data?.length < 1" (click)="selectSSItem(item)" class="ng2-ss__options__holder__item">
        <span>&nbsp;&nbsp;&nbsp;</span>Loading ...
      </div>
      <div *ngFor="let item of data; let i = index;">
        <div *ngIf="currTabIndex === i">
          <div *ngFor="let d of item.data | ng2Ss : ssSearchKey; let j = index;" (click)="selectSSItem(d, j, i)"
          class="ng2-ss__options__holder__item" [ngClass]="{'ng2-ss__options__holder__item__active': ssDisplayValue.label === d.label}">
          <div *ngIf="d === -1" style="text-align:center;">No matches found</div>
          <span title="{{d.label}}"  *ngIf="d !== -1">
            <span *ngIf="ssDisplayValue.label === d.label">&#10004;</span>
            <span *ngIf="ssDisplayValue.label !== d.label">&nbsp;&nbsp;&nbsp;</span>
            {{d.label}}
          </span>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>